.floater {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 21px;
  height: 21px;
  outline: 4px solid black;
  border-radius: 50%;
  z-index: 20;
  background: transparent;
  will-change: transform, height;
  backface-visibility: hidden;
  transform: translateX(-50%) translateZ(0);
}