@use 'main' as *;
.project-content {
  display: flex;
  flex-direction: column;
  width: 287px;
  margin: auto;
  margin-bottom: 400px;
  @media (min-width: 768px) {
    width: 328px;
  }
  @media (min-width: 1024px) {
    width: 384px;
  }
  &:last-child {
    margin-bottom: 212px;
  }
  h3 {
    margin-bottom: 8px !important;
    font-weight: 500;
    letter-spacing: -0.4px;
    font-size: 20px !important;
  }
  p {
    letter-spacing: normal;
    width: 287px;
    @media (min-width: 768px) {
      width: 328px;
    }
    @media (min-width: 1024px) {
      width: 384px;
    }
  }
  .project-content-list-wrapper {
    display: grid;
    grid-gap: 24px;
    justify-items: center;
  }
  .project-content-list-wrapper.odd {
    .image-block-group,
    .video-block-group,
    .collage-grid {
      margin-top: 16px;
    }
  }
  
  .project-content-list-wrapper.even {
    .image-block-group,
    .video-block-group,
    .collage-grid {
      margin-top: 24px;
    }
  }
  .item-wrapper {
    width: 287px;
    position: relative;
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      width: 328px;
    }
    @media (min-width: 1024px) {
      width: 384px;
    }
  }
  .image-shadow,
  .image-shadows {
    position: absolute;
    bottom: -21px;
    z-index: -1;
  }
  .image-shadow {
    right: -3px;
  }
  .image-shadows {
    right: -53px;
  }
  .flurry-msg {
    margin-left: auto;
    margin-top: 54px;
  }
  .item-last {
    margin-bottom: 60px;
  }
  .video-large {
    width: 100vw;
    border-radius: 0;
    padding: 318px 0;
    background: black;
    @media (min-width: 768px) {
      padding: 0;
      background: none;
    }
    @media (min-width: 1024px) {
      width: 1217px;
      border-radius: 30px;
    }
  }
  .video-medium {
    width: 700px;
  }
  .image-large {
    &__ofset {
      img {
        position: relative;
        left: 39%;
        @media (min-width: 768px) {
          left: unset;
        }
      }
    }
  }
  .image-large img {
    position: relative;
    width: 210vw;
    @media (min-width: 768px) {
      border-radius: 30px;
    }
    @media (min-width: 1024px) {
      width: 85vw;
    }
  }
  .image-huge img {
    width: 100vw;
    border-radius: 0;
    @media (min-width: 768px) {
      width: 93vw;
      border-radius: 30px;
    }
    @media (min-width: 1024px) {
      width: 85vw;
    }
  }
}
.margin-l-auto {
  margin-left: auto;
}
.image-block-group {
  display: flex;
  gap: 40px;
  .media-description {
    width: unset;
  }
}
.image-block-item {
  position: relative;
  display: inline-block;
}
.project-cta {
  margin-bottom: 26px !important;
  display: flex;
  justify-content: center;
}
.media-subtitle {
  font-family: 'Instrument Sans', sans-serif;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 24px;
  letter-spacing: -0.4px;
  font-size: 16px;
  font-weight: 400;

  &.medium {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 22px;
  }
}
.media-description {
  text-align: center;
  margin-top: 12px;
  font-size: 11px;
  color: #666;
  &--smal {
    font-size: 9px;
  }
}
.media-description {
  width: 287px;
  @media (min-width: 768px) {
    width: 328px;
  }
  @media (min-width: 1024px) {
    width: 384px;
  }
}
.media-wrapper {
  position: relative;
  display: inline-block;
}
.hidden-media-overflow {
  .media-wrapper {
    overflow-y: hidden; // ????
  }
}
.video-block-group {
  display: flex;
  gap: 40px;
  // flex-wrap: wrap;
  justify-content: center;
}

.video-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.group-gap-20 {
  gap: 20px;
  @media (max-width: 768px) {
    margin-left: 10px;
    gap: 16px;
  }
}
.video-list.autoplay-video {
  @media (max-width: 768px) {
    width: 286px;
    min-width: 286px;
  }
}
.group-gap-56 {
  gap: 16px;
  @media (min-width: 768px) {
    gap: 56px;
  }
}



// meta:
.content-meta {
  margin-top: 20px;
  position: relative;
  .showcase-image-meta-header {
    max-width: 238px;
  }
  .layout-content__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  h1 {
    letter-spacing: -0.72px;
    font-size: 24px !important;
  }
  @media (min-width: 768px) {
    margin-top: 4px;
    .showcase-image-meta-header {
      max-width: 304px;
    }
    h1 {
      letter-spacing: -0.93px;
      font-size: 31px !important;
    }
  }
}
.showcase-image-wrapper img.showcase-image-meta {
  height: 761px !important;
  margin-top: -70px !important;
  margin-bottom: 168px;
  @media (min-width: 768px) {
    height: 914px !important;
    margin-bottom: 128px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 213px;
  }
}
.mar-n-24 {
  margin-top: -24px;
}
.p-relative {
  position: relative;
}
.d-flex {
  display: flex;
  position: relative;

}
.custom-background-wrapper {
  padding-top: 200px;
  margin-bottom: 300px; // todo adjust?
}
.custom-background {
  background: #E5E5EA;
  left: -24px;
  width: 100vw;
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0;
  z-index: -1;
  @media (min-width: 768px) {
    left: -48px;
  }
}
h3.content-item-custom-header {
  margin-bottom: -16px !important;
}
h3.content-item-custom-header-2 {
  margin-bottom: -26px !important;
}
.heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  text-align: center;
  @media (min-width: 1024px) {
    text-align: left;
  }
}

.meta-video-nudge-80 {
  margin-top: -80px;
  width: 100vw;
}
.offset-top {
  &__34 {
    margin-top: -34px;
    margin-left: auto;
    margin-right: auto;
  }
  &_44 {
    z-index: 1;
    margin-top: -44px;
  }
}

.standalone-image {
  width: 883px;
  @media (min-width: 768px) {
    width: 1000px;
  }
}
.vector-image {
  margin-bottom: 40px;
}

.showcase-image-wrapper {
  display: flex;
  justify-content: center;
  // .showcase-image {
  //   img {
  //     width: 100vw;
  //     background-size: cover;
  //     background-position: center;
  //   }
  //   @media (min-width: 768px) {
  //     margin-top: 0;
  //     img {
  //       width: 60vh;
  //     }
  //   }
  //   @media (min-width: 1024px) {
  //     margin-top: 29px;
  //     img {
  //       width: 972px;
  //       max-width: 972px;
  //     }
  //   }
  // }
  .showcase-image-flurry {
    max-width: 1018px;
    margin-top: 55px;
    margin-bottom: 265px;
    background-size: cover;
    background-position: center;
  }
}